.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}
  
.container {
    max-width: 960px;
}
  
.pricing-header {
    max-width: 700px;
}
  
  .card-deck .card {
    min-width: 220px;
  }